@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
}

/* header */

/* navber part */

.bx-menu {
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 2rem;
}

.nav-items-1 {
    display: flex;
    gap: 2rem;
}

.nav-items li {
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
}

nav i {
    font-size: 1.7rem;
}

.nav-items a {
    text-decoration: none;
    color: #3A3A3A;
}

.nav-logo h1 {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}

/* banner part */

.banner {
    display: flex;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
}

.banner .banner-colum-1 h1 {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner .banner-colum-1 p {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    margin: 16px 0;
}

.banner-colum-1 .btn {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
    display: flex;
    gap: 8px;
}

.btn i {
    font-size: 1.5rem;
}

.banner-colum-2 {
    background-image: url(../images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.company-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
    padding: 40px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-image: linear-gradient(90deg, rgba(192, 204, 218, 0.10) 0%, rgba(192, 204, 218, 0.60) 50.38%, rgba(192, 204, 218, 0.10) 100%);
    border-image-slice: 1;
}

/* Collection */

.collection {
    width: 75%;
    margin: 0 auto;
}

.collection h1 {
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.popular-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.collection-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 17px 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.collection-item h2 {
    color: #18191F;
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 15px;
}

.collection-item h3 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
}

.collection-item p {
    color: #787885;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 25px;
}

.collection-item img {
    width: 100%;
}

.reating {
    font-size: 14px;
    color: #5E6366;
}

.reating i {
    color: #FB8200;
}

.more {
    margin-top: 55px;
    margin-bottom: 100px;
    position: relative;
}

.more a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    right: 0;
}

.more i {
    font-size: 1.5rem;
    font-weight: 600;
}


/* responsive */

@media screen and (max-width: 576px) {
    .container {
        width: 90%;
    }

    .nav-items-1 {
        display: none;
    }

    .bx-menu {
        display: block;
    }

    .nav-logo h1 {
        color: #3A3A3A;
        font-size: 1rem;
        font-weight: 700;
    }

    /* banner */

    .banner {
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }

    .banner .banner-colum-1 h1 {
        font-size: 1.7rem;
        line-height: 35px;
        text-align: center;
    }

    .banner .banner-colum-1 p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
    }

    .banner-colum-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner-colum-2 img {
        width: 100%;
    }

    .company-logo {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 20px;
        column-gap: 10px;
        margin: 0;
        padding: 0;
        border: none;
    }

    /* collection */

    .collection {
        margin-top: 50px;
        width: 90%;
    }

    .popular-collection {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 30px;
    }

    .popular-collection h2 {
        color: #18191F;
        font-size: 28px;
        font-weight: 700;
    }

    .popular-collection h3 {
        color: rgba(0, 0, 0, 0.87);
        font-size: 24px;
        font-weight: 700;
    }

    .popular-collection p {
        color: #787885;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.252px;
    }

    .reating {
        color: #18191F;
    }

}